/* Стили для index.html */

:root {
    --logo-color: white;
    --main-page-color: #ffffff;
    --second-page-color: #f5f4fa;
    --accent-page-color: #2f303a;
    --main-text-color: #757575;
    --title-text-color: #212121;
    --accent-text-color: #2196f3;
    --phone-text-color: rgba(255, 255, 255, 0.6);
}
html {
    box-sizing: border-box;
}
/* Глобальный border-box */
*,
*::before,
*::after {
    box-sizing: inherit;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0, 0, 0, 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

/*Logo*/

.logo {
    margin-right: 93px;
    text-decoration: none;
    color: var(--title-text-color);
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000;
    padding-top: 24px;
    padding-bottom: 25px;
}

.logo-span {
    color: var(--accent-text-color);
}

.footer-studio {
    color: var(--logo-color);
}

/*Logo End*/

:body {
    background-color: var(--main-page-color);
    color: var(--main-text-color);
    font-family: Roboto, sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 15px;
}

/*Header*/

/*Naviagation*/
.navi-list-item:not(:last-child),
.contacts-item:not(:last-child) {
    margin-right: 50px;
}

.contacts-link,
.navi-link {
    display: block;
    padding: 32px 0;
}
.navi {
    display: flex;
}

.filter {
    margin-bottom: 50px;
}

.navi-list {
    display: flex;
}

.head-nav-list,
.head-mail-number {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header {
    margin: 94px;
}
.contacts {
    display: flex;
    margin-left: auto;
}

.head-nav-link,
.head-mail-link {
    display: flex;
    color: black;
}
.head-nav-link:hover,
.head-nav-link:focus,
.head-mail-link:hover,
.head-mail-link:focus {
    color: var(--accent-text-color);
}

.head-phone-link {
    color: var(--main-text-color);
}

/*Navigation End*/

/*Header End*/

/*---------------------------------*/

/*Hero*/

/*Main Description*/

.hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-color: var(--accent-page-color);
}

.hero-title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    text-align: center;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-page-color);
}

.button-link {
    display: block;
    margin: 0 auto;
    padding: 10px 32px;
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
    color: var(--main-page-color);
    background-color: var(--accent-text-color);
}

/*The End Hero*/
/*The End Main Description*/

/*Features*/

.features-section {
    padding-top: 94px;
    padding-bottom: 94px;
    background-color: var(--main-page-color);
}

.features-list {
    display: flex;

.features-item {
    
}
.features-subtitle {
    font-weight: bold;
    font-size: inherit;
    line-height: 1.14;
    text-transform: uppercase;
}

.features-text {
    line-height: 1.71;
    color: var(--main-text-color);
}
/*The End Features*/

/*What we are do*/

.what-we-are-do-subtitle {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/*The End Section*/

/*Our Team*/

.section-team {
    background-colorbackground: var(--second-page-color);
}
.team-title {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.team-list-item {
    background-color: var(--main-page-color);
}

.team-list-subtitle {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}

.team-list-text {
    font-size: 16px;
    text-align: center;
    color: var(--main-text-color);
}

/*End Team Section*/

/*Portfolio*/

.btn-option {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    background-color: var(--main-page-color);
    cursor: pointer;
}
.btn-option:hover,
.btn-option:focus {
    background-color: var(--accent-text-color);
}
.btn-option:not(:last-child) {
    margin-right: 8px;
}

.button-list {
    justify-content: center;
    display: flex;
}

.works-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    margin-right: -30px;
}

.work-list-item {
    margin-right: 30px;
    margin-bottom: 30px;
}

.work-card-info {
    padding: 20px 24px;
}

.products-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
    margin-bottom: 4px;
    font-family: Roboto;
}

.products-text {
    font-size: 16px;
    line-height: 1.88;
    color: var(--main-text-color);
}

/*Footer*/

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--accent-page-color);
}

.footer-nav {
    display: flex;
    flex-direction: column;
}
.logo {
    display: block;
    margin-bottom: 5px;
}

.adress {
    font-style: normal;
    line-height: 1.71;
}
.adress-link {
    color: var(--main-page-color);
}
.adress-list {
    margin-bottom: 9px;
}
.products-title {
    max-width: 322px;
}

.address-item .link:hover,
.address-item .link:focus {
    color: var(--main-text-color);
}
.mail-link,
.phone-link {
    color: rgba(255, 255, 255, 0.6);
}

/*The End Footer*/
